.coursesPage {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f2f3f5;
}
.coursesPage .coursesBlock {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.coursesPage .module {
  padding: 15px 25px;
  border-radius: 5px;
  background: #f7f5f5;
  margin-bottom: 10px;
}
.coursesPage .lesson {
  padding: 15px 25px;
  border-radius: 5px;
  background: #f7f5f5;
  margin-bottom: 10px;
  /* color: #dcdcdc; */
  /* display: flex; */
  /* justify-content: space-between;
  flex-wrap: wrap; */
}
/* .coursesPage .lesson.open {
  color: black;
} */
.coursesPage .lesson .forOpen {
  display: block;
  font-size: 15px;
  color: red;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
}
.coursesPage .lesson .videoBlock {
  display: none;
}
.coursesPage .lesson.open .forOpen {
  display: none;
}
.coursesPage .lesson.open .videoBlock {
  display: block;
}

.coursesPage .modCount {
  color: #5f5d5d;
}
.coursesPage .moduleFooter {
  padding-top: 10px;
  text-align: right;
}
.coursesPage .card {
  padding: 20px;
  border-radius: 10px;
  display: inline-flex;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px 5px #c5c4c4;
  gap: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: black;
  width: 100%;
}
/* .coursesPage .card:hover {
  transform: scale(1.02);
} */
.coursesPage .card .h4 {
  font-size: 20px;
}
.coursesPage .lab {
  border-radius: 6px;
  padding: 2px 10px;
  font-size: 12px;
  display: inline-flex;
  margin-bottom: 5px;
}
.coursesPage .lab1 {
  background: linear-gradient(92.54deg, #61bf5e 1.85%, #67bbb1 96.95%);
  color: white;
}
.coursesPage .lab2 {
  background: #f2f3f5;
  color: #626466;
}
.coursesPage .labPr {
  background: linear-gradient(104.04deg, #5840ec 0%, #892699 100%);
  color: white;
}
.coursesPage .labLine {
  display: flex;
  gap: 5px;
}
.coursesPage .imgBlock {
  display: flex;
  gap: 10px;
}

.coursesPage .author {
  font-size: 16px;
  color: #626466;
}
.coursesPage .desc {
  margin-bottom: 20px;
}

.videoModal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 10px;
}
.videoModal.open {
  display: flex;
}
.videoModal .close {
  position: fixed;
  z-index: 10000;
  right: 5px;
  top: 5px;
}

.videoModal .fon {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 900;
}
.videoModal .video {
  z-index: 1000;
  position: relative;
}

/* 
.paginate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 40px auto;
}
.paginate .page {
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  background: #e6e1e1;
  color: black;
  transition: 0.5s;
}
.paginate .page:hover {
  background: #cac5c5;
}
.paginate .page.cur {
  background: linear-gradient(92.54deg, #61bf5e 1.85%, #67bbb1 96.95%);
  color: white;
} */

.courseBlock {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.courseBlock .author {
  font-size: 18px;
  margin-bottom: 30px;
}
.courseBlock .desc {
  max-width: 500px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.courseBlock .h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.courseBlock .content {
  margin-bottom: 30px;
}
.video {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 991px) {
  .coursesPage .card {
    max-width: 100%;
    width: 100%;
  }
  .courseBlock {
    flex-direction: column;
  }
  .courseBlock .video {
    max-width: 100%;
  }
  .courseBlock .desc {
    max-width: 100%;
    margin-right: 0;
  }
}
