.btn {
  padding: 0.5em 1.3em;
  border-radius: 2px;
}
.btn + .btn {
  margin-left: 30px;
}
.btn.btn-empty {
  background-color: transparent;
  color: #528bff;
}
.btn.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn.btn-black.btn-empty {
  background-color: transparent;
  color: #000;
}
.btn.btn-black:hover {
  color: #fff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn.btn-white {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.btn.btn-white.btn-empty {
  background-color: transparent;
  color: #fff;
}
.btn.btn-white:hover {
  color: #000;
  background-color: #dedede;
  border-color: #dedede;
}
.btn.btn-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn.btn-round {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  min-width: 150px;
}
footer {
  padding: 30px 0 !important;
}
footer.footer-large {
  padding: 100px 0 !important;
}
footer .flex-column .nav-link {
  padding-left: 0;
}
footer.bg-dark {
  background: #2d313c;
  color: #f2f2f2;
}
footer.bg-dark a {
  color: #f2f2f2;
}
header {
  background-color: #fff;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px rgb(0 0 0/10%);
  z-index: 10;
}
header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#444' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'%3E%3C/path%3E%3C/svg%3E");
}
header.bg-dark .navbar-nav a.nav-link {
  color: #dcdcdc;
}
header.bg-dark .navbar-nav a.nav-link:hover {
  color: #528bff;
}
header.bg-dark .navbar-nav .active a.nav-link {
  color: #fff;
}
header + header {
  border-top: solid 1px #eee;
}
header {
  transition: top 0.3s;
}
header.fill-anim {
  position: absolute;
  top: -70px;
}
header.fill-fixed {
  top: 0;
}
.bg-dark {
  background-color: #2d313c;
  color: #f2f2f2;
}
.bg-gray {
  background-color: #fafafa;
  color: #444;
}
.br {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
}
.br-0 {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}
.heart {
  color: #df584e;
  font-weight: 700;
}
*.text-light {
  font-weight: 300 !important;
}
.sl-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 2;
}
table tr.no-border th,
table tr.no-border td {
  border-top: 0;
}
section {
  border-bottom: 1px solid Silver;
}
section::last-child {
  border-bottom: none;
}
.modal {
  z-index: 1100;
}
.modal .input-container label {
  font-size: 9px;
  position: absolute;
  margin-left: 15px;
  margin-top: 1.8em;
  font-weight: 700;
  color: #000;
}
.modal.ka_modal-shadow-white {
  background-color: Silver;
}
.modal.ka_modal-shadow-white .modal-content {
  box-shadow: 0 0 100px #fff;
}
.modal-video .modal-dialog {
  max-width: 800px;
}
.modal-dialog iframe {
  max-width: 100%;
}
.modal-open .modal {
  padding-right: 0 !important;
}
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="tel"],
.modal textarea {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 2px solid #ddd;
}
.modal.ka_input-border-no input[type="text"],
.modal.ka_input-border-no input[type="email"],
.modal.ka_input-border-no input[type="tel"],
.modal.ka_input-border-no textarea {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  width: 100%;
  border: 0;
  padding: 2.4em 1em 1em;
  margin-bottom: 0;
  outline: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
}
.modal .buttons {
  margin-top: 0.5em;
}
.modal .btn {
  font-size: 18px;
  margin: 0.5em 0;
  text-align: center;
  display: inline-block;
  color: #fff;
}
.modal .note-terms {
  color: Gray;
  font-size: 0.8em;
  margin: 0.7em 0;
  text-align: center;
}
.modal .note-terms input {
  position: relative;
}
.modal .note-terms label {
  font-weight: 400;
  margin: 0;
}
.selectLnBlock {
  position: relative;
  min-width: 55px;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 16px;
  margin-right: 5px;
}
.selectLnBlock .selectLn {
  position: absolute;
  left: -30px;
  min-width: 160px;
  border-radius: 5px;
  padding: 10px 15px;
  background: #fff;
  box-shadow: 0 1px 5px #aaa;
  opacity: 0;
  display: none;
  transition: 0.5s;
  z-index: 5;
}
.selectLnBlock:hover .selectLn {
  display: block;
  opacity: 1;
}
.selectLnBlock .selectLn .option {
  cursor: pointer;
  padding: 5px 0;
}
.selectLnBlock .selectLn .option:hover {
  text-decoration: underline;
}
.selectLnBlock .selectLn .option.selected {
  font-weight: 900;
}
.selectLnBlock .selectLn .flag {
  box-shadow: 0 0 2px #c5bfbf;
  margin-right: 10px;
  width: 24px;
  height: 12px; /*width:23px;height:15px*/
}
.selectLnBlock .currentLn {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1px 5px;
}
.selectLnBlock .currentLn .img {
  margin-right: 8px;
  box-shadow: 0 0 2px #c5bfbf; /*width:24px;height:12px*/
}
.logo {
  display: flex;
  color: #000;
  line-height: 1;
  align-items: center;
  width: 185px;
}
.logo .logoImg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.logo:hover {
  color: #000;
}
.logo .logoText1 {
  font-size: 15px;
  font-weight: 900;
}
.logo .logoText2 {
  font-size: 12px;
}
.mobBth {
  background: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  line-height: 1.1;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .mobBth {
    min-width: 250px;
  }
}
.mobBth:hover {
  color: #fff;
}
.mobBth .mobIconApple {
  width: 25px;
  height: 30px;
  margin-right: 15px;
}
.mobBth .mobIconGoogle {
  width: 32px;
  height: 38px;
  margin-right: 15px;
}
.mobBth .btnHead {
  font-size: 12px;
}
.mobBth .btnText {
  font-size: 22px;
}
.pr-1 {
  padding-right: 1rem;
}

.t-investPage {
  padding: 150px 0 30px;
  .imgBlock {
    justify-content: center;
    display: flex;
    padding: 50px 10px;
  }
  .img {
    height: 150px;
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .t-investPage {
    padding: 200px 5px 30px;
  }
}
.link {
  color: #329932;
  text-decoration: underline;
}
